<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="btn btn-light"><%= link_to "Wikinimous", articles_path %></div>
      <div class="btn btn-light"><%= link_to "New Article", new_article_path %></div>
    </div>
    <div class="main-container">

      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
